{% extends "base.html.twig" %}

{% block title %}Quiz !{% endblock %}

{% block body %}
    <h2>This page will be hosting the QCM</h2>
    <button type="button" class="btn btn-primary">Launch Quiz</button>
{% endblock %}